@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Labrada:wght@300&family=Ubuntu:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-height: 40px;
    --nav-width: 60px;
    --card-width: 330px;
    --card-height: 220px;

}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}





/* Navigation bar */
#navigation {
    height: 100vh;
    width: 0px;
    overflow-x: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(15, 15, 15, 0.774);
    color: white;
    z-index: 3;
    box-shadow: 3px var(--nav-height) 4px black;
    transition: width .6s;
}

.nav-bg {
    position: fixed;
    z-index: 1;
    height: 100vh;
    /* background-color: rgba(58, 58, 58, 0.534); */
    top: 0px;
    left: 0px;
}

.nav-container {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.nav-items {
    height: var(--nav-height);
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}

.nav-items:hover {
    background-color: black;
}

.webpage {
    height: var(--nav-height);
    display: flex;
    align-items: center;
}

.webpage h2 a {
    color: rgb(0, 255, 149) !important;
}

.nav-items div,
.webpage img {
    min-width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    border-radius: 50%;
    color: white;
    background: black;
    margin-right: 30px;
    margin-left: 10px;
}

.webpage img {
    cursor: pointer;
}

.nav-items a {
    color: whitesmoke;
    display: flex;
    align-items: center;
    width: 200px;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
}



/* headers & top-navigation*/
#header {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: var(--nav-height);
    border-bottom: 1px solid black;
    background-color: rgb(2, 60, 167);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items-right {
    margin-right: 20px;
    list-style: none;
}

.items-right img {
    height: 27px;
    margin: 5px;
}






/* Carousel Start */
#carousel {
    width: calc(98vw - 4px);
    margin: 10px 1vw;
    border: 2px solid black;
    border-radius: 4px;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    min-width: 98vw;
    min-height: 200px;
    aspect-ratio: 7/2;
}

#carousel img {
    border-radius: 2px;
    width: 98vw;
    min-height: 220px;
    aspect-ratio: 7/2;
    object-fit: cover;
}

.carousel-details {
    position: relative;
    width: 98vw;
    aspect-ratio: 7/2;
}

.img-txt {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 4px;
    min-width: 35vw;
    max-width: 50vw;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
}

.img-txt h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4px;
}

.img-txt ul {
    font-size: 1rem;
    padding-left: 20px;
}

.weather {
    background: rgba(0, 0, 0, 0.575);
    color: white;
    width: auto;
    position: absolute;
    border-radius: 4px;
    padding: 4px;
    list-style: none;
    bottom: 8px;
    left: 5px;

}






/* Carousel End */
#homepage {
    margin-top: 30px;
    padding-top: 20px;
}

.homepage-details {
    /* padding: 10px 2vw; */
}

.homepage-details p {
    padding: 10px 2vw;
    font-size: .9rem;
    letter-spacing: -0.2px;
}





/* Card */
#short-contents {
    background-color: rgb(224, 255, 175);
}

#short-contents h2 {
    padding: 10px;
}

.card-container {
    margin-top: 2px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#card {
    overflow: hidden;
    margin: 10px 15px;
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    border: 1px solid black;
    border-radius: 3px;
}

#card img {
    object-fit: cover;
    border-radius: 3px;
    filter: brightness(+1.1);
    width: var(--card-width);
    height: var(--card-height);
}

#card:hover .rightside-bg {
    transform: translateX(0px);
    transition: 0.6s;
}

#card .rightside-bg {
    top: 0px;
    right: 0px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    transition: 0.6s;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.692);
    height: var(--card-height);
    transform: translateX(160px);
    border-radius: 0px 4px 4px 0px;
}

#card .rightside-bg h3 {
    text-align: center;
}

#card .rightside-bg p {
    padding: 4px 10px;
    letter-spacing: -0.5px;
    line-height: 15px;
}







#weather-details {
    background: url('./components/District/Weather/weather.jpeg') no-repeat center center /cover;
    filter: brightness(1);
    color: black;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

#weather-details div:first-child {
    font-weight: 500;
    grid-area: 1 / 1 / span 3 / span 1;

}

#weather-details div:nth-child(2) {
    grid-area: 1 / 2 / span 1 / span 2;
}

#weather-details div:nth-child(3) {
    grid-area: 1 / 4 / span 1 / span 2;

}

#weather-details .center {
    border: 1px solid black;
    padding: 5px 3px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#weather-details img {
    height: 30px;
    margin-left: 10px;
}



.disttcards-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
}


#subcards {
    width: 45vw;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    margin-top: 10px;
}

#subcards img {
    width: calc(45vw - 10px);
    max-width: 390px;
    aspect-ratio: 6/4;
    object-fit: cover;
    object-position: center;
    filter: grayscale();
}

#subcards:hover img {
    filter: none;
}

.subcard-heading {
    font-weight: 600px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: -.5px;
    padding: 3px;
    color: black;
}

.subcard-desc {
    font-family: 'Labrada', serif;
    text-align: justify;
    letter-spacing: .1px;
    padding: 5px;
}





.distt-subpage{
    padding: 10px;

}
.distt-subpage h2 {
    color: rgb(20, 100, 0);
}

.distt-subpage h3 {
    color: rgb(255, 68, 0);
    width: 100%;
    border-bottom: 1px solid chocolate;
    padding: 0px 0px 5px 5px;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}



.distt-subpage-desc {
    text-align: justify;
    padding: 10px 10px;
    font-family: 'handlee', cursive;
    font-weight: bold;
    font-size: 16px;
}

.distt-subpage aside {
    width: 320px;
    float: right;
    margin: 5px 0px 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(253, 210, 195);
    padding: 15px 10px;
    border-radius: 4px;
}
.distt-subpage aside img {
    width: 295px;
    aspect-ratio: 6/3;
    object-fit: cover;
}

.distt-subpage aside h5 {
    margin: 8px 0px;
    text-align: center;
}

.distt-subpage aside table {
    margin: 5px 7px;
}

.distt-subpage aside td {
    width: 128px;
    font-size: 12px;
    padding: 2px 5px;
    text-align: left !important;
}






.note{
    background-color: rgb(203, 250, 172);
    border-radius: 6px;
    font-family: 'Labrada', serif;
}
.sub-page {
    padding-top: var(--nav-height);
}





/* Responsive */
@media only screen and (max-width: 800px) {
    .img-txt h2 {
        font-size: 1rem;
        text-align: center;
    }

    .img-txt ul {
        font-size: .7rem;
        padding-left: auto;
        letter-spacing: -0.1px;
    }

    .img-txt {
        height: auto;
    }

    .weather {
        font-size: 12px;
    }

    #weather-details {
        grid-template-columns: 3fr 1fr 2fr 2fr;
    }

    .subcard-heading {
        font-size: 18px;
    }

    .subcard-desc {
        font-size: 13px
    }
    #subcards{
        max-width: 95vw;
        width: 95vw;
    }
    #subcards img {
        width: calc(95vw - 10px);
    }

    .distt-subpage aside {
        float: none;
    }

    .distt-subpage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}